* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    background-color: #2c2c2c;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 108vh;
    margin: 50px auto;
}

.box-menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

h2 {
    color: #fff;
    font-size: 30px;
    padding: 20px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;

}

h3 {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
    font-family: Roboto;
}

.input1,
.input2 {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    height: 50px;
    width: 342px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #ffffffff;
    opacity: 0.7;
    margin: 2px;
}

.button-draw {
    background-color: #d1c6aa;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    height: 50px;
    width: 200px;
    margin: 20px 0 0;
    font-size: 25px;
    opacity: 0.7;
    cursor: pointer;

}

.button-draw:hover {
    background-color: #d1c6aa;
    opacity: 0.8;
}

.button-draw:active {
    opacity: 0.92;
}